<body>
    <div class="container">
        <div id="stats" class="row"></div>
        <div class="row statsMargin" id="orders">
            <h4>Categories</h4>
            <table>
                <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody id="categories-body">
                </tbody>
              </table>
        </div>
    </div>
</body>