<body>
    <div class="container">
        <div id="stats" class="row"></div>
        <div class="row statsMargin" id="orders">
            <h4>Categories</h4>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        LIGE NU ER DER PROBLEMER MED UPLOAD OG REDIRECT - LAV ET ASYNKRONT KALD I STEDET OG HANDLE FILERNE PÅ FRONTEND.
                        <div class="col s12">
                            <div class="input-field col s8 statsMargin">
                                <input id="name" name="name" type="text" class="validate">
                                <label class="active">Category name</label>
                            </div>
                        </div>
                        <div class="col s8 statsMargin" id="file-container">
                            <form action="/category" method="POST" enctype="multipart/form-data" class="dropzone">
                                <div class="file-field input-field col s8 statsMargin fallback">
                                    <input type="file" name="file">
                                </div>
                            </form>
                        </div>
                        <div class="col s12">
                            <button class="btn waves-effect waves-light col s8 statsMargin light-blue darken-3"
                                type="submit" name="action">Save
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="categories-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>