<body>
    <div class="container">
        <div id="stats" class="row"></div>
        <div class="row statsMargin" id="users">
            <h4>Users</h4>
            <table>
                    <thead>
                      <tr>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Full name</th>
                          <th>Age</th>
                          <th>Phone number</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>Postal code</th>
                          <th>Role</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody id="users-body">
                    </tbody>
                  </table>
        </div>
    </div>
</body>