<section class="container" style="margin-top: 40px">
    <div class="settings">
        <form class="form-container" method="POST" action="/update">
            <div class="login-box">
                <label>Username</label>
                <input type="text" name="username" id="username-field" />
                <label>Email</label>
                <input type="email" name="email" id="email-field"/>
                <label>First name</label>
                <input type="text" name="first_name" id="first_name-field"/>
                <label>Last name</label>
                <input type="text" name="last_name" id="last_name-field"/>
                <label>City</label>
                <input type="text" name="city" id="city-field"/>
                <label>Age</label>
                <input type="text" name="age" id="age-field"/>
                <label>Postal Code</label>
                <input type="text" name="postal_code" id="postal_code-field"/>
                <label>Address</label>
                <input type="text" name="address" id="address-field"/>
                <label>Phone number</label>
                <input type="text" name="phone_number" id="phone_number-field"/>
                <input type="hidden" name="address_id" id="address_id-field"/>
            </div>
            <button class="waves-effect waves-light btn-large light-blue darken-3">Save settings</button>
        </form>
        <div>
        </div>
    </div>

</section>